{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{ keyword }}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{ description }}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{ tag }}" />
  {% endfor %}
{% endblock %}

{% block content %}
<div class="columns post-layout">
  <div class="three-fourths column markdown-body">

    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h2>

    <div class="post-info">
      <div class="published">
        {{ article.locale_date }}
      </div>

      {% if article.modified %}
        <div class="modified">
          <span class="bold">Updated:</span> {{ article.locale_modified }}
        </div>
      {% endif %}
    </div>

    <div class="markdown-body">
      {{ article.content }}
    </div>

  </div>
</div>
{% endblock %}
