{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{ keyword }}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{ description }}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{ tag }}" />
  {% endfor %}
{% endblock %}

{% block content %}
<section class="post">
  <h2 class="entry-title">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
  </h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}

  <div class="post-info">
    <div class="published">
      <span class="bold">Published on</span> {{ article.locale_date }}
    </div>

    {% if article.modified %}
      <div class="modified">
        <span class="bold">Updated:</span> {{ article.locale_modified }}
      </div>
    {% endif %}

  </div><!-- /.post-info -->

  <div class="entry-content markdown-body">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}
