<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic" rel="stylesheet" type="text/css">
      <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

      {% assets filters="less,cssmin", output="css/master.css", "less/master.less" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
      {% endassets %}

      {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
      {% endif %}
      {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
      {% endif %}
    {% endblock head %}

    {% include "mixpanel.html" %}
  </head>

  <body>
    <header class="masthead">
      <div class="container">
        <a href="{{ SITEURL }}" class="masthead-logo">{{ SITENAME }}</a>
        <nav class="masthead-nav">
          <a href="{{ SITEURL }}/{{ POSTS_URL }}"{% if page_name == 'posts/index' %}class="active"{% endif %}>Posts</a>
          {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in PAGES %}
              <a href="{{ SITEURL }}/{{ p.url }}"{% if p == page %} class="active"{% endif %}>{{ p.title }}</a>
            {% endfor %}
          {% endif %}
        </nav>
      </div>
    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    {% include "gauges.html" %}
    {% include "google_analytics.html" %}

  </body>
</html>
