<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <title>{{ SITENAME }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic" rel="stylesheet" type="text/css">

    {% assets filters="less,cssmin", output="css/master.css", "less/master.less" %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}

    {% if FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    {% include "mixpanel.html" %}
  </head>

  <body class="landing">
    <div class="container">
      <div class="columns">
        <div class="two-thirds column centered">
          <p class="intro">
            My name is Jonathan Chu and I'm a software engineer at
            <a class="yesgraph" href="https://www.yesgraph.com">YesGraph</a>.
            Read my <a class="posts-link" href="{{ SITEURL }}/{{ POSTS_URL }}">posts</a>.
            Follow me on <a class="twitter" href="https://twitter.com/jonathanchu">Twitter</a>.
            Check out my code on <a class="github" href="https://github.com/jonathanchu">GitHub</a>.
          </p>
        </div>  <!-- /.two-thirds /.column /.centered -->
      </div>  <!-- /.columns -->
    </div>  <!-- /.container -->

    <div class="bg-term two-thirds">
      <pre>
        <strong>jonathan</strong> <span>at</span> <strong>os-x</strong> <span>in</span> <strong>~</strong>
        <span>$</span> ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
        <span>$</span> brew install git
        <span>$</span> brew install python3
        <span>$</span> brew install emacs
        <span>$</span> brew install fish
        <span>$</span> brew install tmux
        <span>$</span> brew install direnv
        <span>$</span> pip install -U pip
        <span>$</span> pip install virtualenv
        <span>$</span> pip install rope ropemacs ropemode
        <span>$</span> curl https://raw.githubusercontent.com/mitsuhiko/pipsi/master/get-pipsi.py | python
        <span>$</span> pipsi install flake8
        <span>$</span> pipsi install isort
        <span>$</span> pipsi install ipython
        <span>$</span> pipsi install httpie
        <span>$</span> pipsi install lice
        <span>$</span> brew install heroku-toolbelt hub jq ag
      </pre>
    </div>  <!-- /.bg-term -->

    {% include "gauges.html" %}
    {% include "google_analytics.html" %}

  </body>
</html>
