<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <title>{{ SITENAME }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic" rel="stylesheet" type="text/css">

    {% assets filters="less,cssmin", output="css/master.css", "less/master.less" %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}

    {% if FEED_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    {% include "mixpanel.html" %}
  </head>

  <body class="landing">
    <div class="container">
      <p class="center">
        My name is Jonathan Chu and I'm a software engineer at <a class="yesgraph" href="https://www.yesgraph.com">YesGraph</a>.  Check out my <a href="{{ SITEURL }}/{{ POSTS_URL }}"{% if page_name == 'posts/index' %}class="active"{% endif %}>posts</a>.
      </p>
    </div>

    {% include "gauges.html" %}
    {% include "google_analytics.html" %}

  </body>
</html>
