{% extends "base.html" %}

{% block content %}
<div class="columns page-layout">
  <div class="three-fourths column centered">

    <ul class="posts-list">
      {% for article in articles_page.object_list %}
        <li>
          <article>
            <h2>
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
            </h2>

            <div class="published">
              {{ article.locale_date }}
            </div>

            <div class="markdown-body">
              {{ article.summary }}
            </div>

            <br>
            <a href="{{ SITEURL }}/{{ article.url }}">Read more &rarr;</a>

          </article>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>

{% include 'pagination.html' %}

{% endblock content %}
