@container-width: 980px;
@grid-gutter:     10px;

// Brand colors
@brand-blue:       #4183c4;
@brand-gray-light: #999;
@brand-gray:       #666;
@brand-gray-dark:  #333;
@brand-green:      #6cc644;
@brand-red:        #bd2c00;
@brand-orange:     #f93;
@brand-purple:     #6e5494;

// Font stack
@body-font: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

// The base body size
@body-font-size: 13px;

// Monospace font stack
@mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace;

// State indicators.
@status-open:     $brand-green;
@status-closed:   $brand-red;
@status-reverted: $status-closed;
@status-merged:   $brand-purple;
@status-renamed:  #fffa5d;
@status-pending:  #cea61b;

// Repository type colors
@repo-private-text: #a1882b;
@repo-private-bg:   #fff9ea;
@repo-private-icon: #e9dba5;
