body {
  font-size: 1.8em;
  font-weight: 400;
}

/* Code blocks - light mode only */
.colorscheme-light .highlight pre {
  background-color: #eceef1 !important;
}

@media (prefers-color-scheme: light) {
  .colorscheme-auto .highlight pre {
    background-color: #eceef1 !important;
  }
}

.content a,
.list ul li .title,
.centered .about ul li a {
  font-weight: 400;
}
